.form {
    width: 350px;
    margin-left: 10px;
    font-size:18px;
}
.form-label {
    display: block;
}

.form-label input {
    width: 340px;
    height: 30px;
    font-size: 16px;
}

.form-btn {
    padding-inline-start: 0;
    width: 348px;
    height: 24px;
}